/bin/
/lib/
/obj/

/deps/glew-2.1.0/lib
/deps/glew-2.1.0/tmp
/deps/glew-2.1.0/glew.pc
/deps/SDL2-2.0.7/build
/deps/Python-2.7.13/build
/deps/Python-2.7.13/Lib/**/*.pyc
/deps/Python-2.7.13/PCbuild/*
/deps/Python-2.7.13/PC/pythonnt_rc.h
/deps/Python-2.7.13/externals/
/deps/Python-2.7.13/python.bat

/assets/*

!/assets/models
!/assets/maps
!/assets/cursors
!/assets/fonts
!/assets/map_textures
!/assets/loading_screens
!/assets/icons

*.pyc
*.pickle

pf.conf
