/bin/
/lib/
/obj/

/deps/glew-2.1.0/lib
/deps/glew-2.1.0/tmp
/deps/glew-2.1.0/glew.pc

/assets/*

!/assets/models
/assets/models/*
!/assets/models/sinbad
!/assets/models/oak_tree

!/assets/maps
/assets/maps/*
!/assets/maps/grass-cliffs-1

!/assets/cursors
