[submodule "deps/Python"]
	path = deps/Python
	url = https://github.com/python/cpython.git
	branch = 2.7
    ignore = dirty
[submodule "deps/SDL2"]
	path = deps/SDL2
	url = https://github.com/SDL-mirror/SDL.git
	branch = master
    ignore = dirty
[submodule "deps/GLEW"]
	path = deps/GLEW
	url = https://github.com/nigels-com/glew.git
	branch = master
    ignore = dirty
